{{> header}}

<div id="documenttext" class="roguebox">
<h1>404 Not Found</h1>

<p>Your web browser asked for a thing, but it wasn't here. Maybe you should <a href="/options#feedback">complain</a>?</p>
</div>

{{> footer}}
